<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".GestureContinuationTestActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />

        <service android:name=".ControlAccessibilityService" />

        <receiver
            android:name=".GestureTestCommandReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP" />
    </application>
</manifest>
